<%# TODO use instance_variable_defined? when debian will have a better %>
<%# version of ruby ... :/ %>

<% if defined?(@comment) %>
  <% @comment.attachments.each do |attachment| %>
    <% if !attachment.file.blank? %>
      <a href="<%=url_for_file_column(attachment, :file, :only_path => false)%>">Télécharger la pièce jointe</a>.<br />
    <% end %>
  <% end %>
<% end %>

<span><font color="#909090">
-- <br />
Ceci est un courriel automatique du <%= App::InternetAddress %>.<br />
Pour y répondre, vous pouvez utiliser le site dédié de <a href="<%=App::CompanySite%>"><%=App::CompanyName%></a>
</font></span>
<span>
