<% if instance_variable_defined?(@comment) %>
  <% @comment.attachments.each do |attachment| %>
    <% if !attachment.file.blank? %>
      <a href="<%=url_for_file_column(attachment, :file, :only_path => false)%>">Télécharger la pièce jointe</a>.<br />
    <% end %>
  <% end %>
<% end %>

<span><font color="#909090">
-- <br />
Ceci est un courriel automatique du <%= Setting.service_site %>.<br />
Pour y répondre, vous pouvez utiliser le site dédié de <a href="<%="http://Setting.company_site"%>"><%=Setting.company_name%></a>
</font></span>
<span>
