<div id='tags' class='tags'>
    <% tags = Tag.get_generic_tag + Tag.get_skill_tag(@software.skills) %>
    <% tags = tags.collect{|t| [ t.name, t.name ]} %>
    <%= hbtm_check_box( Set[*@software.tag_list], tags, 'software[tag_list]', :size => 4) %>
</div>
